body {
    text-transform: capitalize;
}

/* ---------- --------------- navbar english ------------ ------------- */
.navbar .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 14px;
    margin: 0 10px;
}

.navbar .navbar-nav .nav-link span::after {
    transform-origin: center right;
    left: initial;
    right: 0px;
}

.navbar .navbar-nav li:hover .nav-link span::after,
.navbar.navbar-light .navbar-nav .nav-link.active span::after {
    transform-origin: center left;
}

.dropdown-menu {
    text-align: left;
}

.header-language .dropdown-menu {
    left: auto !important;
    right: 0 !important;
}

/* ---------- --------------- footer english ------------ ------------- */

.single-cta i {
    float: left;
}

.cta-text {
    padding-left: 15px;
}

.footer-pattern img {
    left: 0;
}


.footer-social-icon a {
    margin-left: 15px;
}

.footer-widget-heading h3::before {
    left: 0;
}

.footer-widget ul li {
    float: left;
}

.subscribe-form button {
    right: 0;
}

.footer-menu li {
    margin-left: 20px;
}

/* courses */

.class-scroll .schedule li {
    float: right;
    padding-right: 15px;
    border-left: 1px solid #ccc;
}

.class-scroll .schedule li:last-child {
    padding-left: 0;
    border-left: none;
}

.class-active {
    margin-left: -350px;
}

.courses-item {
    float: right;
    margin-right: 15px;
    margin-left: 15px;
}

.courses-content {
    float: right;
}

.courses-content .cat {
    left: 30px;
    text-align: center;
}

.courses-content .cat i {
    margin-left: 5px;
}

.courses-item .icon {
    float: right;
    text-align: right;
    margin-right: 30px;
}

.course-widget-price li i {
    padding-left: 9px;
    padding-right: 2px;
}

.course-widget-price li span:last-child {
    float: left;
}

.shop-area .courses-item {
    margin-right: 0;
    margin-left: 0;
}

.class-active .slick-arrow {
    right: 71.6%;
}

.class-active .slick-next {
    right: 76%;
    left: 0;
}

.course-meta2 .left {
    float: right;
}

.course-meta2 .left li {
    float: right;
    margin-left: 30px;
}

.course-meta2 .right {
    float: left;
}

.shop-area .class-item {
    margin-right: 0;
    margin-left: 0;
}

.class-content .schedule li:first-child {
    padding-right: 0;
}

.class-content .schedule li:last-child {
    padding-left: 0;
    border-left: none;
}

.class-content .schedule li {
    float: right;
    border-left: 1px solid #ccc;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
}

/* ------------- ----------------- style of form ----------- --------------- -------  */

/* 64ac15 */

input:focus+.input-icon:after {
    border-right-color: var(--main-color);
}

input[type="radio"]+label,
select {
    float: left;
}

input[type="radio"]+label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

input[type="radio"]+label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

input[type="radio"]+label i {
    padding-right: 0.4em;
}

input[type="checkbox"]+label {
    padding-left: 1.6em;
}

input[type="checkbox"]+label:before {
    left: 0;
}

input[type="checkbox"]+label:after {
    left: 0.2em;
}

select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

select:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.input-group-icon input {
    padding-left: 4.4em;
}

.input-group-icon .input-icon {
    left: 0;
}

.input-group-icon .input-icon:after {
    left: 3.4em;
    display: block;
    border-right: 1px solid #e5e5e5;
}

.col-half {
    padding-right: 10px;
    float: left;
}

.col-half:last-of-type {
    padding-right: 0;
}

.col-third {
    padding-right: 10px;
    float: left;
}

.col-third:last-of-type {
    padding-right: 0;
}

@media only screen and (max-width: 540px) {
    .col-half {
        padding-right: 0;
    }
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    padding-left: 14px;
    padding-right: 0px;
}
